.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    background-color: var(--first-color);
    border-radius: 30px;
    max-width: 110px;
   

    i{
        color: white;
        font-size: 0.9rem;
    }

    p{
        color: white;
        font-size: 0.9rem;
        margin-left: 0.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-lines: 1;

    }
}

.card{
    width: 90%;
    min-width: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    padding: 1.2rem;
    p{
        color: black;
        font-size: 0.9rem;
    }

    .card-content{
        padding-top: 0.9rem;
    }
}

.profile-panel-section{

    .cat-sub{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       
        .create-cat{
            display: flex;
            flex-direction: column;

            .card-content{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
               

                input[type=text]{
                    font-size: 0.9rem;
                    padding: 0.6rem 0.9rem;
                    max-width: 250px;
                    
                }

                button{
                    margin-top: 0.9rem;
                    background-color: var(--first-color);
                    color: white;
                    padding: 0.6rem 0.9rem;
                }
            }
        }

        .create-sub{
            .card-content{
              
                .hint-text{
                    font-size: 0.8rem;
                    color: rgb(159, 159, 159);
                }
                select{
                    width: 60%;
                    height: 30px;
                    border: 0.5px solid rgb(133, 133, 133);
                    outline: none;
                }

                input[type=text]{
                    font-size: 0.9rem;
                    padding: 0.6rem 0.9rem;
                    margin-top: 0.9rem;
                    max-width: 250px;
                    
                }

                button{
                    margin-top: 0.9rem;
                    background-color: var(--first-color);
                    color: white;
                    padding: 0.6rem 0.9rem;
                }
            }
          
        }
    
    }

    .product-panel{
        
        margin-top: 50px;
        
      
        .p-header{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .right-container{
                display: flex;
                flex-direction: row;
                align-items: center;
                .search-input-container{
                    display: flex;
                    flex-direction: row;
                    border: 0.5px solid var(--text-color);
                    border-radius: 20px;
                    position: relative;
                    padding: 0.5rem;
                    input[type=text]{
                    
                      outline: none;
                      border: none;
                     
                    }

                    .search-options{
                        border: none;
                        outline: none;
                    }

                }

                button{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0.5rem;
                    background-color: var(--first-color);
                    margin-left: 0.2rem;
                    border-radius: 20px;

                    i{
                        color: white;
                    }

                    p{
                        color: white;
                    }
                }
            }
        }

       

        .product-container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-top: 20px;
             .catl-card{
                 width: 100%;
                 padding: 0.5rem;
       
                 .bottom-card-content{
                     padding-top: 0.9rem;
                     text-align: start;

                     p{
                        margin-top: 0.5rem;
                     }
 
                     .product-description{
                        max-width: 90%;
                        font-size: 0.75rem;
                     }

                     .action-btns{
                        display: flex;
                        flex-direction: column;
                        margin-top: 0.9rem;
                        button{
                            margin: 0.45rem;
                            padding: 0.7rem;
                            font-size: 0.8rem;
                            cursor: pointer;
                        }

                        .delete-btn{
                            background-color: red;
                            color: white;
                        }
                     }
                 }
             }
 
        }
    }
}


.create-product-modal{
    position: relative;
    .create-product-container{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
      
        .create-inputs{
            padding: 0.9rem;
           form{
            display: flex;
            flex-direction: column;
            padding: 0.9rem;

            .form-input{
                padding: 0.4rem;
                margin-top: 0.5rem;
                font-size: 0.9rem;
                outline: none;
            }

            .custom-input{
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-top: 0.7rem;
                
                text-align: start;

                .cus-input-label{
                    font-size: 0.9rem;
                }

                .select-input{
                    padding: 0.4rem;
                    font-size: 0.9rem;
                    outline: none;
                }
            }

            input[type=text]{
                outline: none;
            }

            input[type=submit]{
                background-color: var(--first-color);
                color: white;

                padding: 0.3rem;
                outline: none;
                margin-top: 0.9rem;
                cursor: pointer;
                border: none;
            }
           
           }
        }

        .bottom-content{
            padding: 0.5rem 0.9rem;
            display: flex;
            flex-direction: column;
            button{
                background-color: var(--first-color);
                color: white;
                padding: 0.5rem;
                cursor: pointer;

            }
        }

    }

    
    #close-product-modal{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0.9rem;
        font-size: 1.2rem;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    #back-to-product{
        position: absolute;
        top: 0;
        left: 0;
        margin: 0.9rem;
        font-size: 1.2rem;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}

.loading-modal{
    .loading-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.9rem;
        img{
            width: 30px;
            height: 30px;
        }

        p{
            margin-top: 0.9rem;
        }
    }
}

.action-msg-alert-modal{
    .action-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.9rem;
        text-align: center;
        p{
            color: black;
        }

        button{
            background-color: var(--first-color);
            color: white;
            padding: 0.5rem 1.2rem;
            margin-top: 0.9rem;
            cursor: pointer;
        }
    }
}



