/*=============== catalog ===============*/
.catalog{
    &-container{
        margin: 3rem auto;
        position: relative;

        .button{
            position: absolute;
            bottom: -1rem;
            right: 0;
            padding: 1rem 1.2rem;

        }
    }
    &-description{
        text-align: center;
    }
    &-header{
        text-align: center;
        font-size: var(--h3-font-size);
        margin-top: var(--mb-1-5);
    }
    &-content{
        padding: 3rem 0;
        grid-template-columns: 1fr;
        gap: 2.5rem 1rem;

        .catl-card{
            width: 100%;
            padding: 0.5rem;
            
            

            .top-card-content{
                background-color: #ebecee;
                display: flex;
                position: relative;
                height: 350px;
               

                .price-con{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: white;
                    margin: 0.5rem;
                    padding: 0.2rem;
                    z-index: 2;
                    p{
                        font-size: 0.8rem;
                        color: black;
                    }

                }
                img{
                    position: relative;
                    width: 100%;
                }

                .overlay{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    background: hsl(var(--hue), 24%, 92%, 0.4);
                    // padding: 5px 15px 15px;
                    clip-path: circle(0% at 50% 50%);
                    transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
                }            
            }

            .bottom-card-content{
                padding-top: 0.9rem;
                text-align: start;

                .card-description{
                    font-size: 0.75rem;
                }
            }

            
        }
    }
 
    .catl-card:hover .overlay{
        clip-path: circle(70.7% at 50% 50%);
        transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }
   

    
   
    &-button{
        width: fit-content;
        align-self: flex-start;
        justify-self: flex-start;
        background-color: var(--first-color);
        color: #FFF;
        padding: .25rem;
        border-radius: .35rem;
        font-size: 1.15rem;

        &:hover{
            background-color: var(--first-color-alt);
        }
    }
}