.user-profile-section{
    .welcome-div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .con{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.9rem;

            .left{
                i{
                    font-size: 1.5rem;
                }
            }

            .right{
                display: flex;
                flex-direction: column;
                h1{
                    font-size: 1.8rem;
                }

                p{
                    font-size: 0.9rem;
                }

                .admin-conf{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.2rem;
                    margin-top: 0.4rem;
                    
                    i{
                        color: green;
                        font-size: 0.8rem;
                    }

                    p{
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }

    .edit-profile-container{
        padding: 1rem;
        margin-top: 30px;
        // background-color: rgb(246, 246, 246);

        #edit-profile-form{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;


            input[type=text]{
                padding: 0.5rem;
                outline: none;
                width: 90%;
                max-width: 300px;

                
            }

            input[type=submit]{
                background-color: var(--first-color);
                border: none;
                padding: 0.5rem;
                width: 90%;
                max-width: 300px;
                margin-top: 0.9rem;
                color: white;
            }
        }
    }

    .danger-section{
        margin-top: 4rem;
        padding: 1rem;
    }
}


@media screen and (max-width: 470px){
    .user-profile-section{
        .welcome-div{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
       
        .button-container{
            padding: 1rem;
            margin-top: 2rem;
        }

    }
}


.logout-modal{
    .action-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.9rem;
        text-align: center;
        p{
            color: black;
        }

        button{
            background-color: var(--first-color);
            color: white;
            padding: 0.5rem 1.2rem;
            font-size: 0.9rem;
            margin-top: 0.9rem;
            cursor: pointer;
        }

        .btn-logout{
            background-color: rgb(255, 67, 67);
        }
    }
}