.signup-container{
    width: 100%;
    min-height: 70vh;

    display: flex;
    align-items: center;
    justify-content: center;
    
    

    .content{
   
        width: 90%;
        max-width: 350px;
       display: flex;
        flex-direction: column;
        
        .contact-inputs{
            margin-top: 40px;
        }

        .submit-btn{
            width: 100%;
            padding: 0.5rem;
            background-color: var(--first-color);
            color: white;
            border: none;
        }

        .txt-question{
            margin-top: 0.9rem;
        }
    }
    
}

.forgot-password-container{
    
    position: absolute;
    bottom: 0;
    padding: 2rem;

    p{
        font-size: 0.9rem;
    }
}